<div *ngIf="loading; else content" class="loading">
  Loading...
</div>

<ng-template #content>
  <div *ngIf="errorMessage; else ticketsList" class="error-message">
    Error: {{ errorMessage }}
  </div>

  <ng-template #ticketsList>
    <div *ngIf="openTickets.length > 0; else noTickets" class="open-tickets">
      <h2>Open Tickets</h2>
      <ul class="ticket-list">
        <li *ngFor="let ticket of openTickets" class="ticket-item">
          <div class="ticket-info">
            <strong>Title:</strong> {{ ticket.title }}<br>
            <strong>Description:</strong> {{ ticket.text }}<br>
          </div>
          <div class="ticket-actions">
            <select [(ngModel)]="selectedUserId" class="user-select">
              <option *ngFor="let user of users" [value]="user.id">{{ user.loginId }}</option>
            </select>
            <button (click)="assignTicket(ticket)" class="assign-button">Assign</button>
            <button (click)="openTicket(ticket)" class="open-ticket-button">Open</button>
          </div>
        </li>
      </ul>
    </div>

    <ng-template #noTickets>
      No open tickets.
    </ng-template>
  </ng-template>
</ng-template>
